<div class="row login-header">
<a href="#"><img src="assets/images/lasurim-logo.png" alt="logo"/></a>
</div>

<div class="row page-global">

<!--Forgot password-->
<div class="my-grid-6 global-wrap">
				<h2 class="text-center head-h" style="color:#ff7f00; font-size:30px;padding-bottom:30px;">Forgot Password</h2>
				
				<div class="form-group my-grid-12">
					<label>Username</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
				<div class="form-group my-grid-12">
					<label>Email Address</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
				
				
		
				<div class="my-grid-6">	
				
				</div>

				<div class="my-grid-6 text-right">
				<div class="spacer-small"></div>
					<button type="submit" class="primary-btn">Request Temporary Password </button>
				</div>	
			
			</div>

			<div class="spacer"></div>
<div class="spacer"></div>
</div>
