<!--Row start-->
<div class="row page-dashboard">
<!--Card one-->
<div class="my-grid-4">
<div class="card-heading">Visits</div>
<div class="card">
<Label>Total Scheduled visitations</label>
<span><a href="#"><i class="fa fa-list-alt"></i> 1,100</a></span>
<div class="card-b-1 card-box-2">
<span><a href="#"><i class="fa fa-clock-o"></i> 510</a></span>
<label><a href="#">Pending</a></label>
</div>
<div class="card-b-1 card-box-2">
<span><a href="#"><i class="fa fa-check-circle-o"></i> 590</a></span>
<label><a href="#">Completed</a></label>
</div>
</div>
</div>

<!--Card two-->

<div class="my-grid-8">
<div class="card-heading">Donations</div>
<div class="card">
<Label>You've donated <span>$8726</span> to Lasurim!</label>
<div class="card-b-1 card-box-3">
<span><a href="#"><i class="fa fa-dollar"></i>2458</a></span>
<label><a href="#">Other Donations</a></label>
</div>
<div class="card-b-1 card-box-3">
<span><a href="#"><i class="fa fa-dollar"></i>4789</a></span>
<label><a href="#">In Inmate Donations</a></label>
</div>
<div class="card-b-1 card-box-3">
<span><a href="#"><i class="fa fa-dollar"></i>1479</a></span>
<label><a href="#">Funded Towards Personal Requests</a></label>
</div>
</div>
</div>
<div class="spacer"></div>

<!--Card three-->

<div class="my-grid-8">
<div class="card-heading">Letter & Rides</div>
<div class="card">
<Label></label>
<div class="card-b-1 card-box-4">
<span><a href="#"><i class="fa fa-file-text"></i>22</a></span>
<label><a href="#">Letters Written</a></label>
</div>
<div class="card-b-1 card-box-4">
<span><a href="#"><i class="fa fa-automobile"></i>17</a></span>
<label><a href="#">Rides Traveled</a></label>
</div>
<div class="card-b-1 card-box-4">
<span><a href="#"><i class="fa fa-exchange"></i>12</a></span>
<label><a href="#">Given /Created</a></label>
</div>
<div class="card-b-1 card-box-4">
<span><a href="#"><i class="fa fa-check-square"></i>23</a></span>
<label><a href="#">Joined</a></label>
</div>
</div>
</div>

<!--Card four-->

<div class="my-grid-4">
<div class="card-heading">Visits & Travels</div>
<div class="card">
<Label>Inmates Visited</label>
<span><a href="#"><i class="fa fa-group"></i> 75</a></span>
<div class="card-b-1 card-box-2">
<span><a href="#"><i class="fa fa-edit"></i>510</a></span>
<label><a href="#">Facilities Visited</a></label>
</div>
<div class="card-b-1 card-box-2">
<span><a href="#"><i class="fa fa-road"></i>590</a></span>
<label><a href="#">Miles Traveled</a></label>
</div>
</div>
</div>
<div class="spacer"></div>
<div class="spacer"></div>
</div><!--Row end-->
