<div class="row page-inmates inmate-profile">
	<div class="inmates-wrap">
		<h2 class="text-center head-h" style="color:#ff7f00; font-size:30px;">Basic Profile Info</h2>
		<div class="profile-pg  my-grid-10">
			<ul class="inmate-listing">
			<li><label>Name.:</label>&nbsp; <span>John</span></li>
			<li><label>Age.:</label>&nbsp; <span>30 years</span></li>
			<li><label>Release Date.:</label> &nbsp;<span>20-10-2012</span></li>
			<li><label>Gender.:</label> &nbsp;<span>Male</span></li>
			<li><label>Race.:</label> &nbsp;<span></span></li>
			<li><label><strong>Note.:</strong></label> &nbsp;<span>In nec neque vehicula, aliquet ante quis, suscipit arcu. Donec cursus urna urna, sed dignissim dolor auctor non. Sed rutrum vehicula nulla non vestibulum. </span></li>
			<li><label><strong>Important Note.:</strong></label> &nbsp;<span>Quisque vehicula accumsan diam, vitae fermentum turpis scelerisque eu. In interdum fringilla eleifend. Nullam rutrum, nulla in hendrerit malesuada, tellus libero ultricies sapien, et bibendum sem justo at elit. Cras auctor orci vitae dapibus faucibus. </span></li>
			<li><label>Status.:</label>&nbsp;<span> Released</span></li>
			</ul>
			
			<h2 class="text-center head-h" style="color:#ff7f00; font-size:30px;">Facility</h2>
			<ul class="inmate-listing">
				<li><label>Name of the Facility.:</label>&nbsp; <span>Lorem ipsum</span></li>
				<li><label>Facility type.:</label>&nbsp; <span>Federal</span></li>
			</ul>
			
			<h2 class="text-center head-h" style="color:#ff7f00; font-size:30px;">Comments</h2>
			<ul class="inmate-listing">
				<li><label>Comments.:</label>&nbsp; <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus enim faucibus, elementum odio ut, rutrum tellus. Nunc varius eleifend nisl eget rhoncus. Etiam ullamcorper aliquam nulla eu mattis. Donec finibus augue in tempor convallis. Vivamus a interdum odio, ac laoreet neque. <br/></span>
				</li>
			</ul>
			<div class="text-center"><button type="submit" class="primary-btn">Add comment</button></div>
			<h2 class="text-center head-h" style="color:#ff7f00; font-size:30px;">Posts</h2>
			<ul class="inmate-listing">
				<li><label>profile.:</label>&nbsp; <span>John</span></li>
				<li><label>The Title.:</label>&nbsp; <span>consectetur adipiscing elit</span></li>
				<li><label>Content.:</label>&nbsp; <span>Nunc varius eleifend nisl eget rhoncus. Etiam ullamcorper aliquam nulla eu mattis. </span></li>
				<li><label>Date .:</label>&nbsp; <span>15-12-2011</span></li>
			</ul>
			
			<h2 class="text-center head-h" style="color:#ff7f00; font-size:30px;">Visitation Requests</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus enim faucibus, elementum odio ut, rutrum tellus. Nunc varius eleifend nisl eget rhoncus. Etiam ullamcorper aliquam nulla eu mattis. Donec finibus augue in tempor convallis. Vivamus a interdum odio, ac laoreet neque. </p>
			
			<h2 class="text-center head-h" style="color:#ff7f00; font-size:30px;">Personal Requests</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus enim faucibus, elementum odio ut, rutrum tellus. Nunc varius eleifend nisl eget rhoncus. Etiam ullamcorper aliquam nulla eu mattis. Donec finibus augue in tempor convallis. Vivamus a interdum odio, ac laoreet neque. </p>
			
			<h2 class="text-center head-h" style="color:#ff7f00; font-size:30px;">Scheduled Visitations</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus enim faucibus, elementum odio ut, rutrum tellus. Nunc varius eleifend nisl eget rhoncus. Etiam ullamcorper aliquam nulla eu mattis. Donec finibus augue in tempor convallis. Vivamus a interdum odio, ac laoreet neque. </p>
			<div class="spacer-small"></div>
				<div class="text-center">
				<select name="select" class="form-control" id="" style="width:35%; display:inline;">
					<option value="Send Message">Send Message</option> 
					<option value="Write a Letter" selected>Write a Letter</option>
					<option value="Send Money">Send Money</option>
					<option value="Visit">Visit</option>	
				</select>
			
			</div>
		</div>
		
	</div>
	
</div>