<div class="row page-inmates inmate-post">
	<h2 class="text-center head-h" style="color:#ff7f00; font-size:30px;padding-bottom:30px;">Inmates Posts</h2>
	<div class="my-grid-10 inmates-wrap">
	<div class="inmates-wrap">
		<div class="post-heading">Curabitur cursus id purus</div>
		<div class="post-box">
		<div class="post_img"><img src="assets/images/post-img.jpg" alt="avtar"/></div>
		<p>Ut sed sapien quis neque elementum tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce a massa a sem placerat interdum sed pharetra ligula. Ut in lorem convallis risus posuere posuere a id ante. Praesent tempus tempus velit, ac dictum mauris efficitur nec. Fusce sed ipsum nec lectus vulputate semper et nec lacus. In eu varius velit, </p>
		
		<span><a href="#" class="read">Read More</a></span>
		</div>
		
	</div>	
	<div class="inmates-wrap">
		<div class="post-heading">Curabitur cursus id purus</div>
		<div class="post-box">
		<div class="post_img"><img src="assets/images/post-img.jpg" alt="avtar"/></div>
		<p>Ut sed sapien quis neque elementum tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce a massa a sem placerat interdum sed pharetra ligula. Ut in lorem convallis risus posuere posuere a id ante. Praesent tempus tempus velit, ac dictum mauris efficitur nec. Fusce sed ipsum nec lectus vulputate semper et nec lacus. In eu varius velit, </p>
		
		<span><a href="#" class="read">Read More</a></span>
		</div>
		
	</div>	
	<div class="inmates-wrap">
		<div class="post-heading">Curabitur cursus id purus</div>
		<div class="post-box">
		<div class="post_img"><img src="assets/images/post-img.jpg" alt="avtar"/></div>
		<p>Ut sed sapien quis neque elementum tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce a massa a sem placerat interdum sed pharetra ligula. Ut in lorem convallis risus posuere posuere a id ante. Praesent tempus tempus velit, ac dictum mauris efficitur nec. Fusce sed ipsum nec lectus vulputate semper et nec lacus. In eu varius velit, </p>
		
		<span><a href="#" class="read">Read More</a></span>
		</div>
		
	</div>	
	<div class="pagination">
		<ul>
			<li><a href="#" class="active">Next</a></li>
			<li><a href="#" class="active">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#" class="active">Previous</a></li>
		</ul>
	</div>
	</div>
</div>