<!--Row start-->
<div class="row page-inmates">
	<div class="my-grid-6 inmates-wrap">
		<h2 class="text-center head-h" style="color:#ff7f00; font-size:30px;padding-bottom:30px;">Inmates</h2>
			<div class="form-group my-grid-6">
			<label>First Name</label>
			<input type="" name="" class="form-control" id="" value="">
			</div>
			<div class="form-group my-grid-6">
			<label>Last Name</label>
			<input type="" name="" class="form-control" id="" value="">
			</div>
			<div class="spacer-small"></div>
			<div class="my-grid-12 text-right">
			<button type="submit" class="primary-btn">Search</button>
			</div>
	</div>
</div>