<div class="row page-inmates">
	<div class="my-grid-8 inmates-wrap">
		<h2 class="text-center head-h" style="color:#ff7f00; font-size:30px;">Inamtes Serach Result</h2>
		<h1>List of Inmates</h1>
		<ul class="inmate-listing">
			<li>William</li>
			<h3 class="card-heading">Status</h3>
			<div class="inmate-cont my-grid-12">
				<div class="form-group my-grid-6">
					<a href="#"><i class="fa fa-check-square red"></i> <span>Active</span></a>	
				</div>
			</div>			
			<h3 class="card-heading">Open Personal Requests</h3>
			<div class="inmate-cont my-grid-12">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus enim faucibus, elementum odio ut, rutrum tellus. Nunc varius eleifend nisl eget rhoncus. Etiam ullamcorper aliquam nulla eu mattis. Donec finibus augue in tempor convallis. Vivamus a interdum odio, ac laoreet neque. Aliquam sit amet purus sit amet nunc posuere molestie. Duis fringilla ligula id lorem sagittis, ac dignissim tellus ultricies. Maecenas nec libero id elit cursus consequat.</p>
			</div>
			
			<h3 class="card-heading">Open Visitation Requests</h3>
			<div class="inmate-cont my-grid-12">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus enim faucibus, elementum odio ut, rutrum tellus. Nunc varius eleifend nisl eget rhoncus. Etiam ullamcorper aliquam nulla eu mattis. Donec finibus augue in tempor convallis. Vivamus a interdum odio, ac laoreet neque. Aliquam sit amet purus sit amet nunc posuere molestie. Duis fringilla ligula id lorem sagittis, ac dignissim tellus ultricies. Maecenas nec libero id elit cursus consequat.</p>
			</div>
			
			<h3 class="card-heading">Comments Count</h3>
			<div class="inmate-cont my-grid-12">
			<p><i class="fa fa-comment"></i> <span>2</span></p>
			</div>
			
		</ul>
	</div>
</div>