<div class="row page-global">

<!--Registration Form -->
<div class="my-grid-6 global-wrap">
				<h2 class="text-center head-h" style="color:#ff7f00; font-size:30px;padding-bottom:30px;">User Validation Form</h2>
				
				<div class="form-group my-grid-12">
					<label>Shul affiliated with</label>
					<textarea name="" class="form-control" id="" value="" rows="4"></textarea>
				</div>
				
				
				<div class="form-group my-grid-12">
					<label>Ruv of shul</label>
					<input type="text" name="" class="form-control" id="" value="">
				</div>
				
				<div class="form-group my-grid-12">
					<label>Ruv Contact</label>
					<input type="text" name="" class="form-control" id="" value="" placeholder="Please enter email or phone">
				</div>
				
				<div class="form-group my-grid-12">
					<label>Occupation</label>
					<input type="text" name="" class="form-control" id="" value="" placeholder="">
				</div>
				
				<div class="form-group my-grid-12">
					<label>Reference Name</label>
					<input type="text" name="" class="form-control" id="" value="" placeholder="">
				</div>
				
				<div class="form-group my-grid-12">
					<label>Reference Contact</label>
					<input type="text" name="" class="form-control" id="" value="" placeholder="Please enter email or phone">
				</div>
				
				
				
				<div class="my-grid-6">
					
				</div>

				<div class="my-grid-6 text-right">
				<div class="spacer-small"></div>
					<button type="submit" class="primary-btn">Submit</button>
				</div>				
			
			</div>
			
		<div class="spacer"></div>
<div class="spacer"></div>
</div>			